/* Josh Comeau CSS Reset:

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
    --slate-color: #e2e8f0;
    --main-color: #4f46e5;
    --darker-main-color: #3730a3;
    --shadow: #cbd5e1;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 150px 1fr;
    height: 100vh;
    font-family: "Roboto";
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    background: var(--main-color);
    color: white;
    fill: white;
}

.main-contents {
  background: var(--slate-color);
}

/* .icon {
  background: white;
  border: 1px solid black;
  display: grid;
  place-content: center;
} */

.sidebar {
    display: grid;
    grid-template-rows: repeat(3, max-content) 1fr;
    grid-template-columns: 40px 1fr;
    padding: 15px;
    row-gap: 30px;
    font-size: 15px;
    position: relative;
    z-index: 11;
}

.sidebar svg {
  height: 20px;
}
.sidebar > *,
.sidebar > ul > li {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.sidebar span {
  align-self: center;
}

.sidebar .logo {
  font-size: 17px;
}

.sidebar .logo svg {
  height: 30px;
}

/* .main-contents > div {
    border: 2px dashed white;
    border-radius: 10px;
} 
*/


.header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 10px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 2px 5px var(--shadow);
}

.header .search {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column: 1 / -1;
}

.header .searchbar {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;
  align-items: center;
}

.header .searchbar .icon svg{
  width: 25px;
}

.header .searchbar input {
  height: 70%;
  border-radius: 15px;
  border: 0;
  background: var(--slate-color);
  align-self: center;
  font-size: 15px;
  padding: 5px 15px;
}

.header .profile {
  grid-column: 3;
  display: grid;
  grid-template-columns: 1fr 1fr max-content;
  gap: 10px;
  align-items: center;
}

.header .profile .icon.notifications svg{
  width: 25px;
  fill: black;
}

.header .user-info {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  place-content: center;
}

.header .buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.header .buttons button {
  height: 60%;
  width: 80%;
  border: 0;
  background: var(--main-color);
  border-radius: 30px;
  color: white;
}

.main-contents {
  padding: 10px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.main-contents p {
  color: #64748b;
}

.main-contents .projects p {
  font-size: 15px;
}

.main-contents .announcements p {
  font-size: 13px;
}

.main-contents .projects {
  grid-area: 1 / 1 / -1 / 2;
}

.main-contents > * {
  display: grid;
  grid-template-rows: max-content 1fr;
}

.main-contents .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 150px;
  grid-auto-rows: 150px;
  gap: 20px;
}

.cards-container .card {
  display: grid;
  grid-template-columns: 10px 1fr;
  background: white;
  border-radius: 5px;
  color:black;
  box-shadow: 2px 2px 5px var(--shadow);
}

.cards-container .card .card-decoration {
  background: var(--darker-main-color);
  border-radius: 5px 0 0 5px;
}

.cards-container .card .card-content {
  padding: 10px;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

.cards-container .card .card-content .card-buttons {
  display: grid;
  grid-template-columns: 4fr repeat(3, 1fr);
  gap: 5px;
  font-size: 0;
}

.cards-container .card .card-content .card-buttons button {
  background: 0;
  border: 0;
}

.card-buttons svg {
  height: 20px;
}

.card-buttons :first-child {
  grid-column: 2;
}

.announcements .card,
.trending .card {
  background: white;
  color: black;
  border-radius: 5px;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  box-shadow: 2px 2px 5px var(--shadow);
}

.announcements .card > :nth-last-child(1n + 2) {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.trending .card {
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 40px 1fr;
  list-style: none;
  gap: 10px;
}

.trending .card li {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

.trending .card .icon,
.header .icon.usericon {
  background: var(--main-color);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  align-self: center;
  fill: white;
  padding: 6px;
}

.user-info .icon.usericon {
  height: 70px;
  width: 70px;
  padding: 15px;
}